[mysqld]

bind_address=0.0.0.0

server-id=3

gtid_mode=ON

enforce-gtid-consistency=ON

log-replica-updates=ON

skip-replica-start=ON


slave-skip-errors = all

binlog_format=statement


#binlog_do_db=include_database_name