[mysqld]

bind_address=0.0.0.0      
 
server-id=1                    

auto_increment_increment = 2 
auto_increment_offset=1      

gtid-mode = on               
enforce-gtid-consistency = 1

binlog_format=statement       


#binlog_do_db=include_database_name